.homeIndicator {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-800);
  width: 134px;
  height: 5px;
}
.homeIndicatorLight {
  position: absolute;
  width: 100%;
  right: -1px;
  bottom: 0;
  left: 1px;
  height: 34px;
}
.dictationIcon,
.emojiIcon {
  position: relative;
  width: 15px;
  height: 25px;
}
.emojiIcon {
  width: 27px;
  height: 27px;
}
.label,
.rectangleIcon {
  position: absolute;
  width: 100%;
  left: 0;
}
.rectangleIcon {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-8xs-6);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.label {
  top: 26.19%;
  letter-spacing: -0.32px;
  line-height: 21px;
  display: inline-block;
}
.return,
.space {
  position: absolute;
  height: 16.22%;
  width: 23.85%;
  top: 62.55%;
  right: 0;
  bottom: 21.24%;
  left: 76.15%;
  font-size: var(--font-size-base);
}
.space {
  width: 49.32%;
  right: 25.47%;
  left: 25.2%;
}
.div,
.keyLight {
  position: absolute;
  left: 0;
}
.div {
  height: 16.22%;
  width: 23.58%;
  top: 62.55%;
  right: 76.42%;
  bottom: 21.24%;
  font-size: var(--font-size-base);
}
.keyLight {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.deleteButtonIcon {
  position: relative;
  width: 22.66px;
  height: 16.99px;
}
.delete,
.rectangle {
  position: absolute;
  right: 0;
}
.delete {
  height: 16.22%;
  width: 11.38%;
  top: 41.7%;
  bottom: 42.08%;
  left: 88.62%;
  font-size: var(--font-size-base);
}
.rectangle {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs-6);
  background-color: var(--color-gray-300);
  box-shadow: 0 1px 0#898a8d;
}
.symbol {
  position: absolute;
  top: calc(50% - 13px);
  left: 48.07%;
  letter-spacing: -0.55px;
}
.shiftIcon {
  height: 39.18%;
  width: 44.95%;
  top: 29.05%;
  right: 27.29%;
  bottom: 31.77%;
  left: 27.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.shift,
.shiftIcon,
.symbol1 {
  position: absolute;
}
.shift {
  height: 16.22%;
  width: 11.38%;
  top: 41.7%;
  right: 88.62%;
  bottom: 42.08%;
  left: 0;
}
.symbol1 {
  top: calc(50% - 13px);
  left: 18.75%;
  letter-spacing: -0.55px;
}
.m {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  right: 14.91%;
  bottom: 42.08%;
  left: 76.42%;
}
.m,
.n,
.symbol2 {
  position: absolute;
}
.symbol2 {
  top: calc(50% - 13px);
  left: 25%;
  letter-spacing: -0.55px;
}
.n {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  right: 25.2%;
  bottom: 42.08%;
  left: 66.12%;
}
.symbol3 {
  top: calc(50% - 13px);
  left: 28.13%;
  letter-spacing: -0.55px;
}
.b,
.symbol3,
.v {
  position: absolute;
}
.b {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  right: 35.5%;
  bottom: 42.08%;
  left: 55.83%;
}
.v {
  right: 45.53%;
  left: 45.8%;
}
.c,
.v,
.x {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  bottom: 42.08%;
}
.c {
  position: absolute;
  right: 55.83%;
  left: 35.5%;
}
.x {
  right: 65.85%;
  left: 25.47%;
}
.symbol8,
.x,
.z {
  position: absolute;
}
.z {
  height: 16.22%;
  width: 8.67%;
  top: 41.7%;
  right: 76.15%;
  bottom: 42.08%;
  left: 15.18%;
}
.symbol8 {
  top: calc(50% - 13px);
  left: 31.25%;
  letter-spacing: -0.55px;
}
.a,
.d,
.f,
.g,
.h,
.j,
.k,
.l,
.p,
.s {
  position: absolute;
  height: 16.22%;
  width: 8.67%;
  top: 20.85%;
  right: 4.88%;
  bottom: 62.93%;
  left: 86.45%;
}
.a,
.d,
.f,
.g,
.h,
.j,
.k,
.p,
.s {
  right: 15.18%;
  left: 76.15%;
}
.a,
.d,
.f,
.g,
.h,
.j,
.p,
.s {
  right: 25.2%;
  left: 66.12%;
}
.a,
.d,
.f,
.g,
.h,
.p,
.s {
  right: 35.5%;
  left: 55.83%;
}
.a,
.d,
.f,
.g,
.p,
.s {
  right: 45.53%;
  left: 45.8%;
}
.a,
.d,
.f,
.p,
.s {
  right: 55.83%;
  left: 35.5%;
}
.a,
.d,
.p,
.s {
  right: 65.85%;
  left: 25.47%;
}
.a,
.p,
.s {
  right: 76.15%;
  left: 15.18%;
}
.a,
.p {
  right: 86.18%;
  left: 5.15%;
}
.p {
  top: 0;
  right: 0;
  bottom: 83.78%;
  left: 91.33%;
}
.symbol18 {
  top: calc(50% - 13px);
  left: 21.88%;
  letter-spacing: -0.55px;
}
.o,
.symbol18,
.symbol19 {
  position: absolute;
}
.o {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 10.03%;
  bottom: 83.78%;
  left: 81.3%;
}
.symbol19 {
  top: calc(50% - 13px);
  left: 40.63%;
  letter-spacing: -0.55px;
}
.i {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 20.33%;
  bottom: 83.78%;
  left: 71%;
}
.i,
.u,
.y {
  position: absolute;
}
.u {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 30.35%;
  bottom: 83.78%;
  left: 60.98%;
}
.y {
  right: 40.65%;
  left: 50.68%;
}
.r,
.t,
.y {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  bottom: 83.78%;
}
.t {
  position: absolute;
  right: 50.68%;
  left: 40.65%;
}
.r {
  right: 60.98%;
  left: 30.35%;
}
.e,
.r,
.symbol25 {
  position: absolute;
}
.e {
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 71%;
  bottom: 83.78%;
  left: 20.33%;
}
.symbol25 {
  top: calc(50% - 13px);
  left: 15.63%;
  letter-spacing: -0.55px;
}
.keys,
.q,
.w {
  position: absolute;
  height: 16.22%;
  width: 8.67%;
  top: 0;
  right: 81.3%;
  bottom: 83.78%;
  left: 10.03%;
}
.keys,
.q {
  right: 91.33%;
  left: 0;
}
.keys {
  height: 89%;
  width: 98.4%;
  top: 2.75%;
  right: 0.8%;
  bottom: 8.25%;
  left: 0.8%;
}
.buttonChild,
.keyboard {
  position: absolute;
  left: 0;
}
.keyboard {
  top: 521px;
  background-color: var(--color-lightgray);
  backdrop-filter: blur(108.73px);
  width: 375px;
  height: 291px;
  display: none;
  font-size: var(--font-size-3xl-5);
  color: var(--color-gray-800);
  font-family: var(--font-inter);
}
.buttonChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-dodgerblue);
}
.createPassword {
  position: absolute;
  top: 28.57%;
  left: 30.28%;
  line-height: 24px;
  font-weight: 600;
}
.button {
  position: absolute;
  top: 364px;
  left: 24px;
  width: 327px;
  height: 56px;
}
.roundedRectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.placeholderChild {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-500);
  width: 8px;
  height: 8px;
}
.placeholder {
  position: absolute;
  height: 14.29%;
  width: 28.13%;
  top: 42.86%;
  right: 52.29%;
  bottom: 42.86%;
  left: 19.57%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.iconEyeSlash,
.iconPassword {
  position: absolute;
  height: 42.86%;
  width: 7.34%;
  top: 28.57%;
  right: 85.32%;
  bottom: 28.57%;
  left: 7.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconEyeSlash {
  right: 7.34%;
  left: 85.32%;
}
.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 327px;
  height: 56px;
}
.confirmPassword {
  position: absolute;
  top: 28.57%;
  left: 19.57%;
  line-height: 24px;
}
.input1,
.inputFields {
  position: absolute;
  top: 72px;
  left: 0;
  width: 327px;
  height: 56px;
}
.inputFields {
  top: 212px;
  left: 24px;
  height: 128px;
  text-align: left;
  color: var(--color-darkgray-200);
}
.createNewPassword {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 32.4px;
}
.createYourNew,
.text {
  position: absolute;
  width: 327px;
}
.createYourNew {
  top: 40px;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-darkgray-200);
  display: inline-block;
}
.text {
  top: 124px;
  left: 24px;
  height: 64px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-500);
}
.rectangle27 {
  position: absolute;
  height: 119.05%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -19.05%;
  left: 0;
}
.topBarChild {
  position: absolute;
  top: 44px;
  left: 0;
  width: 375px;
  height: 40px;
}
.border,
.capIcon {
  position: absolute;
  mix-blend-mode: normal;
}
.border {
  top: 0;
  right: 2.33px;
  border-radius: 2.67px;
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.capIcon {
  top: 3.67px;
  right: 0;
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.capacity {
  position: absolute;
  top: 2px;
  right: 4.33px;
  border-radius: 1.33px;
  background-color: var(--color-gray-500);
  width: 18px;
  height: 7.33px;
}
.battery {
  position: absolute;
  top: 17.33px;
  right: 14.67px;
  width: 24.33px;
  height: 11.33px;
}
.wifiIcon {
  position: relative;
  width: 15.27px;
  height: 10.97px;
}
.cellularConnectionIcon {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.time,
.timeStyle {
  position: absolute;
  width: 54px;
}
.time {
  top: calc(50% - 7.5px);
  left: 0;
  letter-spacing: -0.28px;
  display: inline-block;
}
.timeStyle {
  top: 13px;
  left: 21px;
  height: 21px;
}
.iphoneXstatusBarsstatusBa {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 187.5px);
  width: 375px;
  height: 44px;
  overflow: hidden;
}
.topBar1 {
  height: 44px;
}
.overlay,
.topBar,
.topBar1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
}
.topBar {
  height: 84px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
  font-family: var(--font-inter);
}
.overlay {
  background-color: var(--color-gray-500);
  height: 951px;
  opacity: 0.3;
}
.doneIcon {
  position: absolute;
  height: 25.69%;
  width: 31.5%;
  top: 14.21%;
  right: 34.25%;
  bottom: 60.1%;
  left: 34.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.goToHome {
  position: absolute;
  top: 28.57%;
  left: 34.41%;
  line-height: 24px;
  font-weight: 600;
}
.button1 {
  position: absolute;
  height: 13.97%;
  width: 85.32%;
  top: 76.06%;
  right: -9.79%;
  bottom: 9.98%;
  left: 24.46%;
  cursor: pointer;
}
.success {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 25px;
  display: inline-block;
  width: 211px;
}
.yourAccountHas {
  margin: 0;
}
.yourAccountHasContainer {
  position: absolute;
  top: 33px;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-darkgray-200);
  display: inline-block;
  width: 263px;
}
.text1 {
  position: absolute;
  height: 20.2%;
  width: 80.43%;
  top: 49.88%;
  right: 9.79%;
  bottom: 29.93%;
  left: 9.79%;
  font-size: var(--font-size-xl);
  color: var(--color-gray-500);
  font-family: var(--font-inter);
}
.createNewPasswordSuccess,
.popUp {
  background-color: var(--color-white);
}
.popUp {
  position: absolute;
  top: 205px;
  left: 24px;
  border-radius: var(--br-5xl);
  width: 327px;
  height: 401px;
}
.createNewPasswordSuccess {
  position: relative;
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-raleway);
}
