.homeIndicatorChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 36px;
}
.homeIndicator1 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67.5px);
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslategray-200);
  width: 134px;
  height: 5px;
}
.homeIndicator,
.signupButtonChild {
  position: absolute;
  top: 776px;
  left: 0;
  width: 375px;
  height: 36px;
}
.signupButtonChild {
  height: 100%;
  width: 100.31%;
  top: 0;
  right: -0.31%;
  bottom: 0;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-dodgerblue);
  box-sizing: border-box;
}
.signUp {
  position: absolute;
  top: 28.57%;
  left: 40.61%;
  line-height: 24px;
  font-weight: 600;
}
.signupButton {
  position: absolute;
  top: 696px;
  left: 24px;
  width: 327px;
  height: 56px;
  cursor: pointer;
}
.loginToEnjoy {
  position: absolute;
  top: 38px;
  left: 0;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  width: 311px;
}
.headline {
  position: absolute;
  top: 0;
  left: 21.54%;
  font-size: var(--font-size-3xl);
  line-height: 29.7px;
  color: var(--color-gray-500);
}
.logoIcon,
.text {
  position: absolute;
  top: 137px;
  left: 0;
  width: 311px;
  height: 86px;
}
.logoIcon {
  height: 64.71%;
  width: 54.94%;
  top: 0;
  right: 21.21%;
  bottom: 35.29%;
  left: 23.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.helthio {
  top: 71.57%;
  left: 0;
}
.content,
.helthio,
.logo {
  position: absolute;
}
.logo {
  height: 45.74%;
  width: 35.05%;
  top: 0;
  right: 32.8%;
  bottom: 54.26%;
  left: 32.15%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-dodgerblue);
}
.content {
  top: 223px;
  left: 32px;
  width: 311px;
  height: 223px;
  color: var(--color-slategray);
}
.rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.border,
.capIcon {
  position: absolute;
  mix-blend-mode: normal;
}
.border {
  top: 0;
  right: 2.33px;
  border-radius: 2.67px;
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.capIcon {
  top: 3.67px;
  right: 0;
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.capacity {
  position: absolute;
  top: 2px;
  right: 4.33px;
  border-radius: 1.33px;
  background-color: var(--color-gray-500);
  width: 18px;
  height: 7.33px;
}
.battery {
  position: absolute;
  top: 17.33px;
  right: 14.67px;
  width: 24.33px;
  height: 11.33px;
}
.wifiIcon {
  position: relative;
  width: 15.27px;
  height: 10.97px;
}
.cellularConnectionIcon {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.time,
.timeStyle {
  position: absolute;
  width: 54px;
}
.time {
  top: calc(50% - 7.5px);
  left: 0;
  letter-spacing: -0.28px;
  display: inline-block;
}
.timeStyle {
  top: 13px;
  left: 21px;
  height: 21px;
}
.iphoneXstatusBarsstatusBa {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 187.5px);
  width: 375px;
  height: 44px;
  overflow: hidden;
}
.buttonChild,
.topBar {
  position: absolute;
  top: 0;
  left: 0;
}
.topBar {
  width: 375px;
  height: 44px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
  font-family: var(--font-inter);
}
.buttonChild {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-dodgerblue);
}
.signUp1 {
  position: absolute;
  top: 28.57%;
  left: 43.73%;
  line-height: 24px;
  font-weight: 600;
}
.button {
  position: absolute;
  top: 626px;
  left: calc(50% - 163.5px);
  width: 327px;
  height: 56px;
  cursor: pointer;
  color: var(--color-white);
}
.onboarding5 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-dodgerblue);
  font-family: var(--font-raleway);
}
