.homeIndicatorChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 36px;
}
.homeIndicator1 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67.5px);
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslategray-200);
  width: 134px;
  height: 5px;
}
.homeIndicator {
  position: absolute;
  top: 776px;
  left: 0;
  width: 375px;
  height: 36px;
}
.background1 {
  background-color: var(--color-gainsboro-200);
  backdrop-filter: blur(81.55px);
}
.background,
.background1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.homeIndicator3 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-700);
  width: 134px;
  height: 5px;
}
.homeIndicator2 {
  position: absolute;
  height: 11.68%;
  width: 100%;
  top: 88.32%;
  right: 0;
  bottom: 0;
  left: 0;
}
.deleteIcon {
  position: relative;
  width: 24px;
  height: 17.99px;
}
.keyBackgroundIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div,
.number {
  position: absolute;
}
.number {
  width: 100%;
  bottom: 9px;
  left: 0;
  letter-spacing: 0.29px;
  display: inline-block;
}
.div {
  height: 22.22%;
  width: 32.23%;
  top: 77.78%;
  right: 33.88%;
  bottom: 0;
  left: 33.88%;
  font-size: var(--font-size-6xl);
}
.label,
.number1 {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
  letter-spacing: 2px;
  display: inline-block;
}
.number1 {
  bottom: 15px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.29px;
}
.div1,
.div2 {
  position: absolute;
  top: 51.69%;
  bottom: 25.6%;
}
.div1 {
  height: 22.71%;
  width: 32.23%;
  right: 0;
  left: 67.77%;
}
.div2 {
  right: 33.88%;
  left: 33.88%;
}
.div2,
.div3,
.div4,
.div5 {
  height: 22.71%;
  width: 32.23%;
}
.div3 {
  position: absolute;
  top: 51.69%;
  right: 67.77%;
  bottom: 25.6%;
  left: 0;
}
.div4,
.div5 {
  top: 25.6%;
  bottom: 51.69%;
}
.div4 {
  position: absolute;
  right: 0;
  left: 67.77%;
}
.div5 {
  right: 33.88%;
  left: 33.88%;
}
.div5,
.div6,
.div7 {
  position: absolute;
}
.div6 {
  height: 22.71%;
  width: 32.23%;
  top: 25.6%;
  right: 67.77%;
  bottom: 51.69%;
  left: 0;
}
.div7 {
  right: 0;
  left: 67.77%;
}
.div7,
.div8,
.div9 {
  height: 22.22%;
  width: 32.23%;
  top: 0;
  bottom: 77.78%;
}
.div8 {
  position: absolute;
  right: 33.88%;
  left: 33.88%;
}
.div9 {
  right: 67.77%;
  left: 0;
}
.div9,
.keyboard,
.keys {
  position: absolute;
}
.keys {
  top: calc(50% - 139.5px);
  right: 6px;
  width: 363px;
  height: 207px;
}
.keyboard {
  top: 521px;
  left: 0;
  width: 375px;
  height: 291px;
  display: none;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-700);
  font-family: var(--font-inter);
}
.didntReceiveThe,
.resend {
  position: relative;
  line-height: 22.5px;
}
.didntReceiveThe {
  letter-spacing: 0.5px;
}
.resend {
  font-weight: 500;
  color: var(--color-dodgerblue);
}
.resendLink {
  position: absolute;
  top: 428px;
  left: 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-mini);
  color: var(--color-slategray);
}
.buttonChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-dodgerblue);
}
.verify {
  position: absolute;
  top: 28.57%;
  left: 43.12%;
  line-height: 24px;
  font-weight: 600;
}
.button {
  top: 348px;
  left: 24px;
  width: 327px;
  height: 56px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.b,
.button,
.inputChild {
  position: absolute;
}
.inputChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-dodgerblue);
  box-sizing: border-box;
}
.b {
  top: 25%;
  left: 39.06%;
  line-height: 32.4px;
}
.input1,
.inputItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
}
.inputItem {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-dodgerblue);
  box-sizing: border-box;
}
.input2,
.input3,
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 88px;
  width: 64px;
  height: 64px;
}
.input3,
.rectangleDiv {
  left: 176px;
}
.rectangleDiv {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.div10 {
  position: absolute;
  top: 7.81%;
  left: 39.06%;
  line-height: 40px;
  font-weight: 100;
  display: none;
}
.input,
.input4,
.inputOtpview {
  position: absolute;
  top: 0;
  height: 64px;
}
.input4 {
  left: 264px;
  width: 64px;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.input,
.inputOtpview {
  left: 0;
  width: 328px;
}
.inputOtpview {
  top: 244px;
  left: 24px;
}
.enterVerificationCode {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 32.4px;
}
.span {
  color: var(--color-gray-500);
}
.enterCodeThatContainer {
  position: absolute;
  top: 40px;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  width: 327px;
  color: var(--color-darkgray-200);
}
.text {
  position: absolute;
  top: 124px;
  left: 24px;
  width: 327px;
  height: 88px;
  text-align: left;
}
.rectangle {
  position: absolute;
  height: 119.05%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -19.05%;
  left: 0;
}
.topBarChild {
  position: absolute;
  top: 44px;
  left: 0;
  width: 375px;
  height: 40px;
}
.border,
.capIcon {
  position: absolute;
  mix-blend-mode: normal;
}
.border {
  top: 0;
  right: 2.33px;
  border-radius: 2.67px;
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 22px;
  height: 11.33px;
  opacity: 0.35;
}
.capIcon {
  top: 3.67px;
  right: 0;
  width: 1.33px;
  height: 4px;
  opacity: 0.4;
}
.capacity {
  position: absolute;
  top: 2px;
  right: 4.33px;
  border-radius: 1.33px;
  background-color: var(--color-gray-500);
  width: 18px;
  height: 7.33px;
}
.battery {
  position: absolute;
  top: 17.33px;
  right: 14.67px;
  width: 24.33px;
  height: 11.33px;
}
.wifiIcon {
  position: relative;
  width: 15.27px;
  height: 10.97px;
}
.cellularConnectionIcon {
  position: relative;
  width: 17px;
  height: 10.67px;
}
.time,
.timeStyle {
  position: absolute;
  width: 54px;
}
.time {
  top: calc(50% - 7.5px);
  left: 0;
  letter-spacing: -0.28px;
  display: inline-block;
}
.timeStyle {
  top: 13px;
  left: 21px;
  height: 21px;
}
.iphoneXstatusBarsstatusBa {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 187.5px);
  width: 375px;
  height: 44px;
  overflow: hidden;
}
.topBar,
.topBar1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 44px;
}
.topBar {
  height: 84px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.resetPasswordVerifyCode {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-500);
  font-family: var(--font-raleway);
}
